@font-face
    font-family: "TTNorms Black"
    src: url("../fonts/TTNorms-Black.otf")
@font-face
    font-family: "TTNorms Bold"
    src: url("../fonts/TTNorms-Bold.otf")
@font-face
    font-family: "TTNorms ExtraBold"
    src: url("../fonts/TTNorms-ExtraBold.otf")
@font-face
    font-family: "TTNorms Medium"
    src: url("../fonts/TTNorms-Medium.otf")
@font-face
    font-family: "TTNorms Regular"
    src: url("../fonts/TTNorms-Regular.otf")
@font-face
    font-family: "TTNorms Thin"
    src: url("../fonts/TTNorms-Thin.otf")