@import "vars"
@import "fonts"
@import "libs"


body
    font-family: "TTNorms Regular"

.navbar-container
    z-index: 1000
    top: 0
    left: 0
    width: 100%
    position: fixed
//background-image: linear-gradient(117deg, #080118, #250d53)

nav
    .nav-link
        font-size: 18px
        font-family: "TTNorms Medium"
        margin-left: 30px
        text-transform: uppercase
        color: white !important
    .discount
        color: white
        font-family: "TTNorms Thin"
        letter-spacing: .6px

.btn-order
    color: white
    font-family: "TTNorms Medium"
    border-radius: 100px
    padding: 15px
    line-height: 1
    letter-spacing: .4px
    border: 1px solid white
    background-color: transparent
    &:hover
        color: white
        text-decoration: none

.section-h100
    height: 100vh

.section-title
    font-size: 50px
    font-family: "TTNorms ExtraBold"
    line-height: 1.32
    color: #10032d
    span.purple
        background-color: #5910a8
        color: white
        padding-left: 5px
        padding-right: 5px
    span.sup
        font-size: 16px
        font-style: normal


.menu-left
    height: 100vh

.card-show
    position: relative
    width: calc(50% - 7.5px)
    margin-bottom: 15px
    height: 250px
    display: flex
    flex-direction: column
    justify-content: flex-end
    img
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        object-fit: cover
    .content
        background-color: rgba(0,0,0,0.4)
        z-index: 1
        position: relative
        padding: 15px 20px 20px 20px
        text-align: right
        .name
            font-family: "TTNorms Bold"
            font-size: 30px
            color: white
            line-height: 1
            margin: 0
            text-transform: uppercase
        .type
            display: block
            font-size: 13px
            font-family: "TTNorms Bold"
            color: white
            text-transform: uppercase

.menu-left
    position: fixed
    top: 0
    padding: 0 20px
    min-height: 100vh
    .menu-item
        margin-top: 40px
        opacity: .4
        display: block
        &:hover
            text-decoration: none
        &.active
            opacity: 1
        &.new

    .circle
        border: 1px solid $purple
        width: 50px
        height: 50px
        display: block
        margin-bottom: 10px
        border-radius: 100%
        margin-left: auto
        margin-right: auto
    span
        color: $purple
        font-size: 15px



.page
    &--main
        //overflow-x: hidden
        header
            background-image: linear-gradient(117deg, #080118, #250d53)
            .controls
                position: absolute
                bottom: 40px
                right: 40px
                z-index: 111
                span
                    cursor: pointer
                    font-size: 15px
                    letter-spacing: 0.38px
                    color: #ffffff
            .swiper-slide
                //height: calc(100vh - 170px)
                height: 100vh
                background-position: center bottom
                background-size: cover
                background-repeat: no-repeat
                .content
                    padding-top: 40vh
                    .title
                        font-family: "TTNorms Bold"
                        font-size: 88px
                        line-height: 0.91
                        color: white
                    p
                        opacity: .6
                        font-family: "TTNorms Thin"
                        font-size: 22px
                        line-height: 1.45
                        color: white
                        margin-top: 24px
                        margin-bottom: 45px
                    button
                        display: flex
                        align-items: center
                        justify-content: center
                        background-color: white
                        padding: 13px 15px
                        border-radius: 100px
                        border: 0
                        span
                            margin-left: 10px
                            font-family: "TTNorms Bold"
                            text-transform: uppercase
                            letter-spacing: .4px
                            color: black
                            cursor: pointer
                            outline: none
                            line-height: 1
        .section-show-types
            .card-show-type
                height: 160px
                position: relative
                margin-bottom: 16px
                width: 100%
                .content
                    position: relative
                    width: 100%
                    height: 100%
                    opacity: .1
                    transition: .3s
                    img
                        height: 100%
                        width: 100%
                        object-fit: cover
                &:hover
                    .content
                        opacity: 1
                    h3
                        color: white
                        -webkit-text-stroke: 1px black
                h3
                    font-size: 28px
                    color: #10032d
                    position: absolute
                    right: 16px
                    bottom: 12px
                    font-family: "TTNorms Bold"
                    opacity: 1
                    z-index: 11
        .swiper-team
            .content
                position: relative
                width: 340px
                height: 420px
                h3
                    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)
                    font-family: "TTNorms Bold"
                    font-size: 24px
                    line-height: 1.25
                    color: #ffffff
                    margin: 0
                p
                    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)
                    font-family: "TTNorms Regular"
                    font-size: 16px
                    color: #ffffff
                    margin: 0
                .text-intro
                    position: absolute
                    left: 15px
                    bottom: 15px
                    width: calc(100% - 30px)
                .desc
                    background-color: #210659
                    padding: 20px 15px
                    font-family: "TTNorms Thin"
                .text
                    height: calc(100% - 112px)
                    padding: 15px
                    background-color: rgba(33, 6, 89, 0.8)
                    display: flex
                    flex-direction: column
                    justify-content: flex-end
                .about
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    display: flex
                    flex-direction: column
                    z-index: 11
                    transition: .3s
                    opacity: 0
                &:hover
                    .about
                        opacity: 1
        .section-tesla-team
            .section-title
                font-family: "TTNorms ExtraBold"
            p
                font-size: 28px
                font-family: "TTNorms Thin"
                line-height: 1.14
                color: black
                strong
                    font-family: "TTNorms Medium" !important
            .stand
                font-family: "TTNorms Regular"
                font-size: 30px
                line-height: 1.2
                color: #10032d
                text-align: left
                display: block
                width: 20%
                margin-left: 70%
        .section-facts
            background-image: url("../img/facts-bg.jpg")
            background-position: left center
            background-size: 50% 100%
            background-repeat: no-repeat
            .facts-list
                p, h2, span
                    color: white
            h2
                margin-bottom: 15px !important
            .section-title
                font-family: "TTNorms ExtraBold"
            .subtitle
                font-size: 14px
                font-family: "TTNorms Medium"
                margin-bottom: 50px
            .fact-list
                span
                    display: block
                    font-size: 14px
                p
                    font-size: 20px
                    font-family: "TTNorms Bold"
                    text-transform: uppercase
        .section-partners
            img
                display: block
                margin: 0 auto
                height: 100px
                filter: grayscale(100%)
                transition: .3s
                &:hover
                    filter: grayscale(0)
    &--shows
        .logo
        filter: invert(100%)
        nav
            .nav-link
                color: #10032d !important
            .btn-order, .discount
                border-color: #5910a8
                color: #5910a8
.contacts
    font-family: "TTNorms ExtraBold"
    &-form
        padding: 53px 55px 93px 55px
        background: #f1f2f5
        position: absolute
        z-index: 222222
        height: 100%
        right: 0
        h3
            font-size: 36px
            font-weight: bold
            line-height: 1.4
            span
                background: #5910a8
                color: white
                padding: 0 10px
        p
            font-size: 16px
            text-transform: uppercase
            margin-top: 29px
            font-weight: bold
        label, input
            width: 100%
            font-weight: bold
            color: black
        input
            border: none
            background: none
            border-bottom: 2px solid rgba(16, 3, 45, 0.15)
            margin-top: 40px
            outline: none
        .btn
            border: 2px solid rgba(16, 3, 45, 0.14)
            border-radius: 100px
            padding: 12px 23px
            text-transform: uppercase
            letter-spacing: 3px
            color: rgba(16, 3, 45, 0.14)
            font-weight: bold
        .fa
            font-size: 40px
            background: #5910a8
            padding: 13px 15px 15px 15px
            border-radius: 100px
            color: white
    &-bottom
        margin-left: 100px
        margin-top: 100px
        h2
            font-size: 45px
            font-weight: bold
        p
            font-size: 22px
            font-family: "TTNorms Regular"
        span
            color: #5910a8
            font-weight: bold
            i
                margin-right: 5px
                font-size: 20px
    &-clock
        margin-top: 200px
    .clock
        position: absolute
        margin: auto
        top: 0
        left: 0
        right: 0
        bottom: 0
        height: 400px
        width: 400px
        background-color: #fff
        border-radius: 50%
        background-image: radial-gradient(circle at center, #5910a8 8px, transparent 0), radial-gradient(circle at center, white 50%, transparent 50%, transparent 65%, white 65%), linear-gradient(to right, transparent 50%, black , transparent 51%), linear-gradient(to bottom, transparent 50%, black , transparent 51%),  linear-gradient(45deg, transparent 50%, black , transparent 51%),  linear-gradient(-45deg, transparent 50%, black , transparent 51%)
    .hour-hand
        position: absolute
        height: 80px
        width: 8px
        margin: auto
        top: -20%
        left: 0
        bottom: 0
        right: 0
        border-radius: 4px
        background-color: black
        transform-origin: bottom
        transform: rotate(0deg)
    .minute-hand
        position: absolute
        height: 120px
        width: 8px
        margin: auto
        top: -30%
        left: 0
        bottom: 0
        right: 0
        border-radius: 4px
        background-color: black
        transform-origin: bottom
        transform: rotate(90deg)
    .second-hand
        position: absolute
        height: 120px
        width: 2px
        margin: auto
        top: -30%
        left: 0
        bottom: 0
        right: 0
        border-radius: 4px
        background-color: #5910a8
        transform-origin: bottom
        transform: rotate(180deg)
.mt83
    margin-top: 233px
.f24
    font-size: 24px
.purplecolor
    color: #5910a8
@import "media" // Always at the end
